.login_layout {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  display: "flex";
  justify-content: "center";
  flex-direction: "column";
  margin-top: "35px";
}

.login_box {
  padding: 2em;
  background-color: #fff;
}

.login_header{
 display: flex;
 flex-direction: column;
 justify-content: center;
}